/* container */
.container {
    margin: 5px auto;
    padding: 10px 0;
    width: 85%;
    gap: 5px;
    z-index: 1;
}
/* content */
main {
    float: left;
    width: 73%;
    border: solid white 1px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-items: center;
    padding: 10px;
}
main .judul {
    text-align: center;
    color: white;
    width: 100%;
}
main .content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 10px;
    border: solid #18171c 1px;
    padding: 10px 0;
    justify-content: space-evenly;
}
.content .nothing{
    width: 100%;
}
.cards:hover{
    transform: scale(1.1);
}
main .content .cards {
    height: 200px;
    z-index: 1;
    margin: 0;
}
.cards .recent-episodes {
    width: 155px;
    height: inherit;
    z-index: 1;
}
.detail {
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    border-radius: 10px;
}
.detail a {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    align-items: end;
    overflow: hidden;
    z-index: 1;
}
.pict {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.info {
    border-radius: 10px;
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: #272a31b4;
    z-index: 2;
}
.episode {
    top: -25px;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.408);
    color: white;
    text-shadow: 1.5px 0.5px 1px black;
    padding: 0 5px;
    z-index: 3;
    font-size: 11px;
    >i {
        font-size: 15px;
        color: #f97d49;
    }
}
.tittle {
    font-size: 13px;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: white;
    text-align: center;
}
/* button get more page */
main .load{
    width: 30%;
    margin: 10px 0;
}
.load .more{
    font-family: cursive;
    background-color: #18171c;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
}
.main{
    width: 80%;
    margin: 15px auto;
    float: none;
}